body {
  background-color: darkgray;
}

img {
  border-radius: 450px;
}

p {
  max-width: 550px;
  float: right;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

