body {
  background-color: darkgray;
}

#primera_img {
  border-radius: 450px;
}

p {
  max-width: 550px;
  float: right;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

li {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-width: 450px;
}

#segunda_img{
  margin-top: 215px;
  float: right;
  clip-path: circle(32.2% at 51% 49%);
}